# system files
.ash_history
.DS_Store

# log fles - nginx
*.log
*.log.*.gz

# update log files - ddns
updates.json

# merged config files - immich
merged-config.yml

# storage pointer (created by setup.sh)
/storage
/storage-*backup-*
